{% extends "dashboard/dashboard.html" %} {% block title %}
<title>Manager Dashboard</title>
{% endblock title %} {% block tasks %}

<section class="tasks-container mt-8">
  {% comment %} All Task {% endcomment %}
  <div class="all-task-container p-4 rounde-xl bg-white">
    <h1 class="text-2xl font-bold">All Tasks</h1>
    <table class="mt-4 w-full table-fixed border-separate border-spacing-y-4">
      <thead class="text-left">
        <tr>
          <th class="uppercase text-[#7E7D80]">Task Title</th>
          <th class="uppercase text-[#7E7D80]">Priority</th>
          <th class="uppercase text-[#7E7D80]">Team</th>
          <th class="uppercase text-[#7E7D80]">Create At</th>
          <th class="uppercase text-[#7E7D80]">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr class="relative">
          <td class="flex items-center gap-2">
            <span
              class="circle bg-green-300 p-1 rounded-full inline-block"
            ></span>
            <p class="text-base font-medium mr-6">{{task.title}}</p>
          </td>
          <td>
            <span class="px-2 py-[1px] rounded-sm bg-[#D9EAFB] text-[#7082A6]"
              >{{task.details.get_priority_display}}</span
            >
          </td>
          <td class="flex -space-x-2">
            {% for emp in task.assigned_to.all %}
            <span
              class="w-8 h-8 flex items-center justify-center bg-[#3D82F4] rounded-full text-white"
              >{{emp.name|slice:':1'}}</span
            >
            {% endfor %}
          </td>
          <td class="text-[#A2A2A2] text-sm font-medium">
            {{task.created_at|timesince}}
          </td>
          <td>
            <span class="px-2 py-[1px] rounded-sm bg-[#D9EAFB] text-[#7082A6]"
              >{{task.get_status_display}}</span
            >
          </td>
          <td>
            <a href={% url "update-task" task.id %} class="px-2 py-1 bg-blue-500 rounded-sm text-white">
              Edit
            </a>
            <form method="POST" action="{% url "delete-task" task.id %}">
              {% csrf_token %}
              <button type="submit" class="px-2 py-1 bg-red-500 rounded-sm text-white">
                Delete
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock tasks %} {% comment %}
<tr class="relative">
  <td class="flex items-center gap-2">
    <span class="circle bg-yellow-300 p-1 rounded-full inline-block"></span>
    <p class="text-base font-medium">Test Task</p>
  </td>
  <td>
    <span class="px-2 py-[1px] rounded-sm bg-[#F0F2F6]">Normal</span>
  </td>
  <td class="absolute bg-red-200">
    <span class="px-[5px] bg-[#3D82F4] rounded-full text-white absolute"
      >C</span
    >
    <span
      class="px-[5px] bg-[#1FC45F] rounded-full text-white absolute left-4 z-[1]"
      >J</span
    >
    <span
      class="px-[5px] bg-[#F34343] rounded-full text-white absolute left-8 z-[2]"
      >B</span
    >
  </td>
  <td class="text-[#A2A2A2] text-sm font-medium">9 Months ago</td>
</tr>
<tr class="relative">
  <td class="flex items-center gap-2">
    <span class="circle bg-yellow-300 p-1 rounded-full inline-block"></span>
    <p class="text-base font-medium">Test Task</p>
  </td>
  <td>
    <span class="px-2 py-[1px] rounded-sm bg-[#FEE3E3] text-[#A6535D]"
      >High</span
    >
  </td>
  <td class="absolute bg-red-200">
    <span class="px-[5px] bg-[#3D82F4] rounded-full text-white absolute"
      >C</span
    >
    <span
      class="px-[5px] bg-[#1FC45F] rounded-full text-white absolute left-4 z-[1]"
      >J</span
    >
    <span
      class="px-[5px] bg-[#F34343] rounded-full text-white absolute left-8 z-[2]"
      >B</span
    >
  </td>
  <td class="text-[#A2A2A2] text-sm font-medium">9 Months ago</td>
</tr>
{% endcomment %}
